
<div class="py-5 border bg-gray-200">
  <h3 class=" px-20">Product Tags: <span class="font-bold italic">{{ product.tags }}</span></h3>
  <h3 class=" px-20">First Item of Product Tag: <span class="font-bold italic">{{ product.tags[0] }}</span></h3>
  <h3 class=" px-20">The size of Product Tags: <span class="font-bold italic">{{ product.tags.size }}</span></h3>
</div>

<div class="py-5 border bg-blue-200">
  {% for tag in product.tags %}
    <h3 class=" px-20">Tag {{ forloop.index }}: <span class="font-bold italic">{{ tag }}</span></h3>
  {% endfor %}
</div>

{%  capture my_html %} 
<p class="px-5 border p-2">This is capture html block & data is: <span class="font-bold italic">{{ product.title }}</span></p>
{% endcapture %} 

{{ my_html }}